/*
  Mimic Zendesk styles

  ==================================================
*/

.Page-heading {
  height:      20px;
  line-height: 22px;
  padding:     27px 0 5px 30px;
  margin:      0 160px 0 0;
  font-size:   18px;
  font-weight: bold;
  white-space: nowrap;
  color:       #333;
}

.Page-headerCount {
  margin-left: 30px;
  line-height: 16px;
  font-size:   12px;
  font-weight: 300;
  color:       #999;
}

/*
  Calendar
  ================================================== */

.Calendar {
  padding: 0;
}

.TicketTable {

  width:       calc(100% - 15px);
  margin-left: 15px;

  th,
  td {
    box-sizing:     border-box;
    height:         40px;
    padding:        0 2px 0 12px;
    vertical-align: middle;
    font-size:      12px;
    color:          #555;
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
    text-align:     left;
  }

  td {
    border-top: 1px solid #eee;
  }

  tr.TicketTable-row:hover td {
    background-color: #f3f3f3;
  }

  th {
    font-size:      11px;
    font-weight:    bold;
    border-bottom:  1px solid #ddd;
    letter-spacing: 0.25px;
  }

  .TicketTable-grouping {
    padding-left: 0;
    font-size:    11px;
    font-weight:  bold;
    color:        #999;
  }

  .TicketTable-grouper {
    padding-right: 2px;
  }

  .TicketTable-leading,
  .TicketTable-trailing {
    padding:             0;
    width:               15px;
    border-top-color:    transparent;
    border-bottom-color: transparent;
  }

  .TicketTable-selection {

    width:   21px;
    padding: 0;

    .TicketTable-leading + & {
      padding-left: 0;
    }
  }

  .TicketTable-collision {
    width:   18px;
    padding: 0;
  }

  .TicketTable-status {
    width:   18px;
    padding: 0 0 0 3px;
  }

  .TicketTable-subject {
    max-width: 250px;
  }

}

/*
  Override Zendesk styles

  Note: There are additional styles that override
  Zendesk styles in layout.hdbs

  ==================================================
*/

header {
  background-color: transparent !important;
}

/*
  Widget
  ================================================== */

.Widget-icon {
  background-color:  transparent;
  background-repeat: no-repeat;
  background-size:   cover;
  float:             right;
  height:            25px;
  width:             25px;

  &--tasks {
    background-image: app-asset-url("checked-box.png");
  }

  &--complete {
    background-image: app-asset-url("thumbs-up.png");
  }

}

.Widget-action {
  float:       right;
  line-height: 30px;
  font-weight: bold;

  // Make it look like a link
  color:       #1a6690;
  cursor:      pointer;

  &:hover {
    color:           #005580;
    text-decoration: underline;
  }
}

/*
  Task List
  ================================================== */

.TaskList {
  width:               100%;
  margin-bottom:       20px;
  cursor:              default;
  user-select:         none;
  -moz-user-select:    none;
  -webkit-user-select: none;

  td {
    padding:        5px 3px;
    vertical-align: middle !important;

    &:first-child {
      width:        23px;
      padding-left: 7px;
    }

    &:last-child {
      padding-right: 7px;
    }
  }

  tr:hover td {
    background-color: #ececec;
    transition:       .1s background-color ease-in-out;
  }

}

/*
  Task
  ================================================== */

.Task-title {
  cursor: pointer;
}

.Task-checkbox {
  display: inline-block !important;
}

.Task-trash {
  cursor: pointer;
}

.status-overdue {
  color: #e82a2a
}

.status-complete {
  color:           #aaa;
  text-decoration: line-through;
}

/*
  Overdue video
  ================================================== */

.OverdueVideo {
  margin-bottom: 20px;
}

/*
  Form
  ================================================== */

.Form-field {
  margin-bottom: 8px;
}

.Form-label {
  margin:    4px 0 6px 0;
  font-size: 11px;
  color:     #999;
}

.Form-field {
  width: calc(100% - 10px);
}

.Form-actions {
  margin-top: 20px;
}
