/*
==================================================
Zendesk prepends `.app-0` to styles in app.css.
In order to style elements outside of our app,
we inject this stylesheet via JS.
==================================================
*/
.app-0.apps_ticket_sidebar {
  background-color: transparent !important;
  padding-left:     10px !important;
  padding-right:    10px !important;
  clear:            both;
  width:            330px !important;
  border:           none !important;
}

.app-0.apps_nav_bar {
  margin-top: 0;
  padding:    0;
}
